h1 {text-align: center;
   color: rgb(255, 255, 255); 
   margin-left: -0%;
   border-style: outset;
}
h2 {margin-left: 34%;
   color: aliceblue;
   border-style: outset;
   border-right: 10%;
}
#imal{margin-left: 34%;
    width: 30%; ;
    border-style: groove; border-color: rgb(255, 255, 255);
}
#imal2{margin-left: 34%;
    width: 30%;
    border-style: groove; border-color: rgb(255, 255, 255);
}
h3 {margin-left: 34%;
    color: aliceblue;
    border-style: outset;
}
body{background-color: black;
}
h4 {color: aliceblue;
    text-align: center;
    border-style: outset;
}
#imal3{width: 30%;
    margin-left:34%;
    border-style: groove; border-color: rgb(0, 136, 255);
}
.D{
    text-align: left;
}
